/Database.db
/Database.db-shm
/Database.db-wal
/Database_Original_Files/
/Database_Backup/
/.idea/
/Data_Scrapy_and_Database_Build/UI_Code_Generation_Prompt
*.iml
*.pyc
a.py
Kishi.py
Kishi2.py
Kishi3.py
Obsolete/乐词网Response_Html_Example.html
Obsolete/乐词网批量检索器.py
